@charset "utf-8";
@font-face {
  font-family: 'Montserrat Regular';
	src:url('../fonts/Montserrat Regular/Montserrat Regular.eot')								format('embedded-opentype');
	src:url('../fonts/Montserrat Regular/Montserrat Regular.eot?#iefixsiq396')				format('embedded-opentype'),
		url('../fonts/Montserrat Regular/Montserrat Regular.ttf?siq396')						format('truetype'),
		url('../fonts/Montserrat Regular/Montserrat Regular.woff?siq396')						format('woff'),
		url('../fonts/Montserrat Regular/Montserrat Regular.svg?siq396#Montserrat Regular/')			format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Sans';
	src:url('../fonts/Josefin Sans/Josefin Sans.eot')								format('embedded-opentype');
	src:url('../fonts/Josefin Sans/Josefin Sans.eot?#iefixsiq396')				format('embedded-opentype'),
		url('../fonts/Josefin Sans/Josefin Sans.ttf?siq396')						format('truetype'),
		url('../fonts/Josefin Sans/Josefin Sans.woff?siq396')						format('woff'),
		url('../fonts/Josefin Sans/Josefin Sans.svg?siq396#Josefin Sans/')			format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab';
	src:url('../fonts/Josefin Slab/Josefin Slab.eot')								format('embedded-opentype');
	src:url('../fonts/Josefin Slab/Josefin Slab.eot?#iefixsiq396')				format('embedded-opentype'),
		url('../fonts/Josefin Slab/Josefin Slab.ttf?siq396')						format('truetype'),
		url('../fonts/Josefin Slab/Josefin Slab.woff?siq396')						format('woff'),
		url('../fonts/Josefin Slab/Josefin Slab.svg?siq396#Josefin Slab/')			format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab Bold';
	src:url('../fonts/Josefin Slab Bold/Josefin Slab Bold.eot')								format('embedded-opentype');
	src:url('../fonts/Josefin Slab Bold/Josefin Slab Bold.eot?#iefixsiq396')					format('embedded-opentype'),
		url('../fonts/Josefin Slab Bold/Josefin Slab Bold.ttf?siq396')						format('truetype'),
		url('../fonts/Josefin Slab Bold/Josefin Slab Bold.woff?siq396')						format('woff'),
		url('../fonts/Josefin Slab Bold/Josefin Slab Bold.svg?siq396#Josefin Slab Bold/')			format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Slab Light';
	src:url('../fonts/Josefin Slab Light/Josefin Slab Light.eot')								format('embedded-opentype');
	src:url('../fonts/Josefin Slab Light/Josefin Slab Light.eot?#iefixsiq396')					format('embedded-opentype'),
		url('../fonts/Josefin Slab Light/Josefin Slab Light.ttf?siq396')						format('truetype'),
		url('../fonts/Josefin Slab Light/Josefin Slab Light.woff?siq396')						format('woff'),
		url('../fonts/Josefin Slab Light/Josefin Slab Light.svg?siq396#Josefin Slab Light/')			format('svg');
  font-weight: normal;
  font-style: normal;
}


body, div, img,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  padding: 0;
  
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  font-family: arial;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 50em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}









/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background-color: rgba(0,97,132,0.9);/*******FUNDO BARRA MENU********/
  position: fixed;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 5px 20px 5px 20px;
  color: rgba(0,0,0,0);
  float: left;
}


/* ------------------------------------------
  MASK
--------------------------------------------- */
.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */
.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border-top: 1px solid #ffffff; /*******COR DO SEPARADOR HORIZONTAL********/
  text-decoration: none;
  background-color: rgba(0,97,132,0.9);/*******FUNDO botões MENU não apertado!********/
  padding: 0.7em 1em;
  color: #fff; /*******COR DA FONTE********/
  width: 100%;
  float: left;
}

.nav-collapse a:active,
.nav-collapse .active a {
  background-color: #FFA330; /*******FUNDO botões MENU apertado********/
  color: #000; /*******COR DA FONTE apertado********/
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    border-left: 1px solid #FFFFFF; /*******COR DO SEPARADOR VERTICAL********/
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0; 
  }
}

.nav-collapse ul ul a {
  background-color: #EBD7EE;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */
@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #ffffff; /******* COR DOS 3 TRACINHOS HAMBURGER MOBILE */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}






















/*-----------------------------------------------------------------------------------------------------*/
.hidden {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}





/*IMAGEM RESPONSIVA -------------------------------------------------------------------*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  alignment-adjust:central;
}

/*FORMULÁRIO CAMPOS INPUT -------------------------------------------------------------------*/
input {
border-radius: 0px; /* Para Opera 10.5+*/
-moz-border-radius: 0px; /* Para Firefox */
-webkit-border-radius: 0px; /*Para Safari e Chrome */
font: 18px Montserrat Regular, sans-serif;
background-color: transparent;
border: 1px solid #ffffff;
color: #ffffff;
width: 100%;
height: 40px;
margin: 0 0 5px 0;
padding-left: 10px;
box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color (RGB+ALPHA) */
}

/* PLACEHOLDER */
::placeholder {color: #ffffff;}/*Chrome, Firefox, Opera, Safari 10.1+*/
:-ms-input-placeholder {color: #ffffff;}/*Internet Explorer 10-11*/
::-ms-input-placeholder {color: #ffffff;}/*Microsoft Edge*/

/*FORMULÁRIO CAMPOS TEXTAREA -------------------------------------------------------------------*/
textarea {
border-radius: 0px; /* Para Opera 10.5+*/
-moz-border-radius: 0px; /* Para Firefox */
-webkit-border-radius: 0px; /*Para Safari e Chrome */
font: 18px Montserrat Regular, sans-serif;
background-color: transparent;
border: 1px solid #ffffff;
color: #ffffff;
width: 100%;
height: 80px;
margin: 0 0 5px 0;
padding-left: 10px;
padding-top: 10px;
box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | spread-radius | color (RGB+ALPHA) */
}





/*FORMULÁRIO BOTÃO ENVIAR -------------------------------------------------------------------*/
.form-submit-button {
	background-color: #006184;
	color: #fff;
	border: solid #006184;
	height: 40px;
	width: 100px;
	font:  16px Josefin Sans, sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
	text-shadow: none;
	border-radius: 0px;				/* Para Opera 10.5+*/
	-moz-border-radius: 0px;		/* Para Firefox */
	-webkit-border-radius: 0px;		/*Para Safari e Chrome */	
	margin: 0px;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.form-submit-button:hover{
	background-color: #fff;
	color: #006184;
	border: solid #fff;
	height: 40px;
	width: 100px;
	font: 16px Josefin Sans, sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
	text-shadow: none;
	border-radius: 0px;				/* Para Opera 10.5+*/
	-moz-border-radius: 0px;		/* Para Firefox */
	-webkit-border-radius: 0px;		/*Para Safari e Chrome */
	margin: 0px;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.textoform {
	font-family: 'Josefin Sans';
	font-size: 16px;
	color: #000;
}
.slidetexto {
	font-family: 'Josefin Sans';
	font-size: 16px;
	color: #000;
	text-align: right;
	padding-bottom: -400px;
	z-index: 9;
}
.slidetextobranco {
	font-family: 'Josefin Sans';
	font-size: 16px;
	color: #fff;
	text-align: right;
	padding-bottom: -400px;
	z-index: 9;
}

/* *************************************RODAPÉ-BARRA********************************************** */
.rodapebarra {
	background-image:url(../z.jpg);
	background-color: #ffffff;
	margin: auto;
	width: 100%;
	bottom: 0;
	position: fixed;
	z-index: 999;
	box-shadow: 10px 10px 8px 10px #000000;
	height: 30px;
}

a.fill-One-div {
	color: #fff;
	background-color: #02627F;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover.fill-One-div {
	color: #02627F;
	background-color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a.fill-Two-div {
	color: #000;
	background-color: #DF7027;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover.fill-Two-div {
	color: #DF7027;
	background-color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a.fill-Three-div {
	color: #000;
	background-color: #35C14F;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a:hover.fill-Three-div {
	color: #fff;
	background-color: #207630;
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
	height:30px;
	font-family:Montserrat Regular;
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
/* ************************************* /RODAPÉ-BARRA********************************************** */


/*bolinha para número -------------------------------------------------------------------*/
.circuloo{
 color:#fff;
 border: 2px solid #C56573;
 border-radius:30px;
 width:40px;
 height:40px;
 text-align:center;
 vertical-align: middle;
 background-color: #C56573;
 line-height:25px;  
 display:inline;
 /*box-shadow: 2px 2px 5px #999;*/
}

/*bolinha para número -------------------------------------------------------------------*/
.circulo{
 color:#ffffff;
 border: 2px solid #006184;
 border-radius:30px;
 width:50px;
 height:50px;
 text-align:center;
 vertical-align: middle;
 background-color: #006184;
 line-height:7px;  
 display:inline;
 /*box-shadow: 2px 2px 5px #999;*/
}
.circulo2{
 color:#fff;
 border: 2px solid #DD6810;
 border-radius:30px;
 width:50px;
 height:50px;
 text-align:center;
 vertical-align: middle;
 background-color: #DD6810;
 line-height:7px;  
 display:inline;
 /*box-shadow: 2px 2px 5px #999;*/
}





/* ************************************LINKS************************************** */
.polink a {color: #000000; -webkit-transition: all 0.3s linear;transition: all 0.3s linear; margin:0px 0px 0px 0px} /* unvisited link */
.polink a:hover {color: #A14876; -webkit-filter:drop-shadow(5px 5px 5px #9B8F57); filter: drop-shadow(5px 5px 5px #9B8F57); margin:-15px 15px 15px -15px; -webkit-transition: all 0.3s linear;transition: all 0.3s linear;}/* mouse over link */

.polinkk a {color: #FFF} /* unvisited link */
.polinkk a:hover {color: #000; }/* mouse over link */

.polinkko a {color: #006184} /* unvisited link */
.polinkko a:hover {color: #DD6810; }/* mouse over link */

.polinkkk a {color: #000; border-bottom:transparent solid 5px; border-top:transparent solid 5px;} /* unvisited link */
.polinkkk a:hover {color: #fff; background-color:#E25172; border-bottom:#E25172 solid 5px; border-top:#E25172 solid 5px; padding:0 5px; }/* mouse over link */

.polinkkkk a 		{color:#FFFFFF; background-color:#C86472; border:solid #000000; padding:10px; } /* unvisited link */
.polinkkkk a:hover 	{color:#C86472; background-color:#000000; border:solid #000000; padding:10px; }/* mouse over link */

.polinkkkkk a {-webkit-transition: all 0.3s linear;transition: all 0.3s linear; margin:0px 0px 0px 0px} /* unvisited link */
.polinkkkkk a:hover {filter:saturate(5); -webkit-filter: saturate(5); -webkit-filter:drop-shadow(5px 5px 5px #9B8F57); filter: drop-shadow(5px 5px 5px #9B8F57); margin:-15px 15px 15px -15px; -webkit-transition: all 0.3s linear;transition: all 0.3s linear;}/* mouse over link */
  
.mudar2 a 		{  }
.mudar2 a:hover  {filter:saturate(5); -webkit-filter: saturate(5); }

.mudarr a {} /* unvisited link */
.mudarr a:hover {filter:brightness(150%);-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}/* mouse over link */

.mudar a 		{  }
.mudar a:hover  {
	filter: brightness(200%) drop-shadow(5px 5px 5px #000) saturate(0%) ;
	-webkit-filter: brightness(200%) -webkit-filter:drop-shadow(5px 5px 5px #000) saturate(0%) ;
	}
	
.botaolocal a {-webkit-transition: all 0.3s linear;transition: all 0.3s linear; margin:0px 0px 0px 0px} /* unvisited link */
.botaolocal a:hover {filter:saturate(5); -webkit-filter: saturate(5); -webkit-filter:drop-shadow(5px 5px 5px #9B8F57); filter: drop-shadow(5px 5px 5px #9B8F57); margin:-15px 15px 15px -15px; -webkit-transition: all 0.3s linear;transition: all 0.3s linear;}/* mouse over link */


/* ************************************APARECE E SOME DEPENDENDO DO DISPOSITIVO************************************** */
    @media only screen and (max-width: 600px) {
    	.mobile-hide{ display:none !important; }
    }
    @media only screen and (min-width: 600px) {
    	.desktop-hide{ display:none !important; }
    }


/* ************************************ FOOTER ************************************** */
#main-footer {background-color:#000000; z-index:3; }
footer {margin-bottom:0px; position:relative;}
#footer-bottom .container {
    width: 95%;
    max-width: 95%;
    margin: auto;
}
 #footer-info {
     padding-bottom: 0;
     color: #f0ce6d;
     font-size: 12px;
     line-height: 16px;
}
 .assin {
     top: 0!important;
     right: 0!important;
     position: absolute!important;
     width: 130px!important;
}
 .assin img {
     width: 130px!important;
     height: auto!important;
}

/* ************************************ TABLE ************************************** */
th, td {
	color:#FFFFFF;
	font-family:Josefin Sans;
	font-size:calc(0.4em + 0.4vw);
}
tbody tr:nth-child(odd) {
  background-color: transparent;
}

.hoverTable{
	width:100%; 
}/* Define the default color for all the table rows */
	
.hoverTable tr{
	background-color: transparent;
}/* Define the hover highlight color for the table row */
	
.hoverTable tr:hover {
     background-color: #94372A;
}

/* ************************************ BARRA DE ROLAGEM ************************************** */
/* Works on Firefox */
* {scrollbar-width:thin; scrollbar-color:#FFA330 #02627F;} /*1.botão / 2.fundo */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {width:12px;}
*::-webkit-scrollbar-track {background-color:#02627F;} /* 2.fundo */

*::-webkit-scrollbar-thumb {
  background-color: #FFA330; /* 1.botão */
  border-radius: 20px;
  border: 3px solid #02627F; /* 2.fundo */
}



/* ************************************ TXT SELECIONADO ************************************** */
p::selection {
    background-color:#02627F;
	color:#FFA330;
}

/* ************************************ SHADOW-BOX ************************************** */
.shadowbox{
box-shadow: 3px 1px 31px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 1px 31px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 1px 31px -3px rgba(0,0,0,0.75);
}

/* ************************************ SHADOW-TEXT ************************************** */
.shadowtext{
text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

/* ************************************ SHADOW-OBJECT ************************************** */
.shadowobject{
  filter: drop-shadow(8px 8px 10px #000);
}