
@font-face {
  font-family: 'Gotham-Black';
  src: url('Gotham-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Black';
  src:  url('Gotham-Black.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAECQAA8AAAAAdLgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAABAdAAAABoA
AAAcSUg3E0dERUYAADOUAAAAHwAAACABEAAGR1BPUwAAM9QAAAyeAAAaMC0CYOlHU1VCAAAztAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAATAAAAGATVTiRY21hcAAABFgAAAHkAAACQlEnvflnYXNwAAAz
jAAAAAgAAAAI//8AA2dseWYAAAgEAAAoqQAATDhbnTqWaGVhZAAAAVgAAAAzAAAANhrJBL5oaGVh
AAABjAAAACAAAAAkCEoFDmhtdHgAAAIYAAACPgAAA4wbzh5GbG9jYQAABjwAAAHIAAAByNL65AZt
YXhwAAABrAAAAB4AAAAgAWkEfG5hbWUAADCwAAABawAAAociCVjjcG9zdAAAMhwAAAFuAAAB9K+M
T0Z42mNgZGBgAGIBh4+34vltvjJwM78AijDcbnpQCKP/b/8fzPKGeQlQHQcDE0gUAIn/DrkAeNpj
YGRgYF7yP5iBgZX///b/J1jeMABFUMBjAJ84B2B42mNgZGBgeMxSyeDCAAJMQMzIABJzAPMZACx/
AeoAAHjaY2BiYmT8wsDKwMDUxdTFwMAwDUIDxYwYHjIggQYGhvUBDAweyGIMCgwKv5mYbv1PYAhi
XsKwVoGBUdARKMwky7QHLMsEAK8ZDiV42m2TX0iTURjGn/OcJWV/XKWbwznnRrq5TaOlURezIjAC
LwohIXZVRgVCCRXURZERXXRRJBEKQWBBIkVXQhBEFFEGXQQZ0l0Q4fWMJPLrOR9bGO2DH+/7nfN+
h+/83nNMCf5j+kWD2IceRpDgSzRzHBE7iiSfocFEkTDPkRUx8whRXsZujdWbu0gpZhj25jmPtHmI
1TyNVg5jE59iPc9hM+8gzePoVN6kPGPasFVEeBV7eAkHFA8xilr7GjnbhBrOoqC12vhbcUJcR8Ea
vS+hYPqwl9sR0HyBJzR+TGwUvZq/X44fNHcDaziGMH+gmz9REyiijl+wlh+9Ze0nZd5qnbD3XTFn
SujgoLesOMjDaOQk8typ/U+ihUU0mzGE/PwC8iYrOr1vPOLnO+ysajXOm3593tWZaUWi1jxBvea6
eEZ7K2Id++VmRP+QR9wsyOdRnFSMmyV5q7jvRVxOspzCFr7SPkfQof/aZQvoNtfk8Txifl6Si8+q
P4Wg8lF/3wMIuV7ofVi1ra5WXkPOaTUC7d4v3/NE2XMZ0+fNOc+Kn8RX24WWiuMqxHzHK3GOp7TW
RXlwPqtgpxWd4+K/mKz33nlVfCfm5DX+1+//bPD9rsT5dX1QdOvwtvpxC42BHv3ror5x50K9qZwD
1wumEZGzXBnn9oE4K+6JdhGzKXmUdwaRslf8M+8IuzvApNZJ6qwldB/GNf4Y2/TNQbsfmVV1SJoh
3RnHojfDGQQD6pPDvsEQX+hsCXcH/wCuA6qmAAB42mNgYGBmgGAZBkYgycBoA+QxgvksjApA2oXB
gYGVgYWhjmEpw2qGjQw7GHYzXGP4xvCf0ZDRiTGYMZGxgrGOcRLTcaa7zCuZDyiIKEgpyCkoKagp
GChYKbgoKilJKXn8+P+b6f9/oGkKDAsYljOsY9jCsIthP8MNhh9AUxwZgxgTgKbUAk05xnQDbIqw
goSCjIIC2BRLJFMY//////j/of8H/+//v/f/nv87/+/4v/1/2//y/xn/Y/67/Xf6r//3z983fxX/
cj/Y+WDbg60PtjzY+GDFgwUPpt/fde/wvWnsD1jvQ3xKOWBkY4AbxcgEJJjQFQCDloWVjZ2Dk4ub
h5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV0/fwNDI2MTUzNzC0sraxtbO3sHRydnF
1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGhtq6hqat/yswZs+bMnjt/4YJFi5cuWbZ85epV
a9at3bhh0+Yr+SmpGdeKp+dm3SnMZKifwFDAwJBeBHTbaYbsslPz1lckM9w9eI8hp/x6UmVN367d
Z85evHTuPAPDtn23GW7eevDwasmFyzeqm6taGtvaO1p7eu93T5o8cfuhE3lHjh4rPXn8MACj3raj
AAAAAAAAAAAAAAAWAC4AXgCkAPgBQgFSAWwBhgGoAbwB0AHcAegB+AIeAjACWgKCAp4CzAMCAxQD
WAOQA6IDvAPQA+QD9gQgBHYEkATCBOoFCgUgBTQFXgV0BYAFnAW2BcYF4AX2BhwGPgZ0BpwG1Abm
BwQHGAc2B1AHZgd8B44HngewB8IHzgfcCBIIQAhmCJIIvgjeCRYJNglKCWoJggmOCbwJ2goECjAK
XApwCqYKxAriCvYLFAsuC04LYguaC6gL4AwCDAIMGAxMDHIMrAzODSQNNg1+DbwN2g4gDi4OVA6K
DpgOxg7cDugO9g8kD0IPbg+QD7IP1hAMEDIQahCOELoQ2BD2ERgROhFOEWIRehGSEboR7BIaEkgS
ehK8Eu4TLBNSE3gTohPME+oUDhREFIIUwBUCFVQVlhXsFkAWahaeFtIXCBdAF1QXaBeAF5gX1hgQ
GEIYdBiqGPAZJhliGYgZrhnYGgIaKBpWGoAajBqkGrwa6BsuG3IbtBvWG/gcGBxIHFocbByCHI4c
tBzKHOwdAh0+HYAdjB2YHa4dxB3YHf4eIh5IHmIeiB6eHrYfKh88H04fXh+CH8QgDiXGJfYmHCYc
eNqdfAlgU1XW8Lv3Je8lzdY0TdK9TUL7ui9J00BLF0ppCy1daKGlFCil0IWdsokUyr4ji8qArCKi
KA4444JiVRDUGXXGXRm/33Hk01G/8ddZnM+lr/+597206Qrz0+Rtuffcc889+7kPBjMZDIP0+Aqj
ZNQM42HdLjPLw2Fp5keZ9924hTZPnSp23Dp/nmEYzNjRVKyEtgrSFpmgqY0ckN36xgbxmOWNDWgq
alaKJ+gB2odDp4egfSgTyTAuj8MtfV08/Zod9OvwOHgT/FBtLWsz1a+xHLBusBywkOvVQQeCNliT
twVu3X566enN8A9O27dvR6PWADoMywT3nMB34x8AegyTxDBKd4zgsVjdySgbpWd4YBYWKx8jmCNQ
OArkeDPr5uDCYsqAn2MEJBxdUddQt37l+mUt7Q1TskrWtW9YNKcgfMv48JjGJv+qreMNa8Ln1OG6
ZaoxY3XjtsUHrAifC7eL/RqxbSGXiAODxdf4RGwO1sDQjKPnB7YB32C0jD/MO57xAIb2GIKIy2mB
YdXIhRS+DxgnxcNh5wbeoJgT85oqK5rEWzhse/ctzEq33bOdNntwSBT6wWmzhYRGoskLy3H5InIQ
C/GV7gK/RWXSfRmqSbRhWxIc7GIHOSYm2LGN0szc83d8Hv+OCWNimTRAXOAcFCuPD2q8NcNj5Xgr
8kHK5PQIlHxYKJ7ZvnjPvuQ1TbOW7yyLdHSmJcwSD02KCAqO9I9Jancm6ycWLZqJt+TlF+DyJfPL
8Orc0qT8vOlZM9E8mxsHR9rDsEM8HbEyIhlHxgAjEb5CKspXTCgChrJb/uhlJYb8ntjTjk7i3zOE
0MnIH5DTAyJWVHEQ/pU31tQ07i19E8W8Wbpq/IFXDoynfSKgzwGpj1XIIQvuiUD+3CLavBz67ZUa
ryp9U7z5JkP7hKEqtBd3MUaGMXl4wSN4rIKL91h5Ky9YTwU3Z2zYkNEc3Oq9QFVbauuTkmbWbtlS
OzMpqb52C8DIYxpwHm4g43rcwO3AhcDl5q8effSJRx9tePyRx+FDxgrsmcF8z1wnkmQVMgRoaQ7k
HIZmdvKNtrMTtVOunWybRdrFMv+NlqI9sHIAz2aORcX/fe4cPE8AjL9nrpHnZIyEG9eukTn03Ozp
xClsBHnOA8vFoOePihM62RO/NDJUhuNg/S/B+msYK8MoouiqR5FFV0gsKHGgKH5y6bfI/qS4eUXh
xOVF+reP4CPvkoPQVo2rF8JhKuCgggEb8csMBzgYgV4u45lV0W/uxdrQ+zO7cyWaAtfhEvwaE0zw
jM5BbspQPCyJxGucAdnMNsSlxSU47Lnxm8d2zmm/p3TaGmQ7+JowOtIWE5e2qKx43Vxc3pJTfUKC
GQBzmAT8AjCVdhB5l4R6AhI8NqART+Gisc8tXVs2PS5tbMaUsNPiP9FP5546rF+3tkKIwvaYeQeO
774n9jhu7QSa6ADH+2AefuQKIAjIZSSLhlxu1CleiEILXpk+XTx+bsdOdFGsPbADBb1O8TABHhWA
R1h/PBx2XjDBpHhZnDiUcnb1krqKVM+Y5IzM9kD0nnidc2fN33VSv2RTaWIMjk505KG5p9qCly/E
7dv61mkBrFMQM4pCl8UTFBohnxdyjO+iTd1WMe3ciU3NM4oKsvL5ooo52049VpeeUZeur5h2ET/2
/uSd7ooJGSvn4fadh10Cjkl3Clgg80iGASfCPMg6IkJBBAIjXsGh4u9x8JmD3R8AN4X2/BPPgHW0
MA4mBTjHR2lIOoNq2X56LMAXuefE02saDn19qCEzR7xclpIaI6QIszLG1I7RLp+BV7rcc/HUxYun
4rnu0PJsPBNlJdhwRGJCBLaJl5NBgcXHUwWGmQSgyyKgSzAT3Ud1j6zECFmslDDYd+y4XW0zisqB
JmNrWzYfXztpbnz1+bN1bk+dW1+1bfTkCWPWAE32xMZPuYQvvo22pgs4LsMdh2PJeKmwGj/gcKAA
D1qBmEf4pt64cQPVXbsmPgxSh8EOTZfb6OQ2vRKdeuMtSaZJ8+4er2AjZhwzDjvxekLzJOSONusQ
dooG9L14GRWNu3HpxqVFiygfTGK2YTfO9I4PawPfSegb0Yy+QYfOnRP/AeoA4E0BeOMleB43QFSa
p6AiAPb9OID05I1LBJYfHHj8KqxhCLQSPDnIy65efjJgwPrFYFX1RGFU8aSm1qNLdzXXax+8fuuc
mo+1oZDw/C2tyxtw7RxLHnUKMJPUM4s9DOuRyowl6xHjTmcAFtFldmpa3JRrPVaWMweSpZLkn16D
jWF9HqBvXhIR8/zTP3bULk7Mqypv2VxXk6J9IFnhiHCN/z/nLtz6/NLm5YF3Pxk7Oi4Kvg+KzzyN
0F+Pd+4pnbSkbsGRSdlBohihD7EtaNj3hy8fefTW+KgS1DQ+1RGXnxIdR2kJtGHNIOc8oYQLtKND
sIHvIXAo/nkU/0eX+HfnguNl+OXu3I4OFPgqtZc50PEiyIY/SKKN6Dmb09rH75yDdTmBiAnIKAl/
AohOc2du0sKCoj0dj6+tr11/f2La7HvxldykArwoxVJZgOua0dlsPFZcZ4vEuVSPxABPX6c8TSjo
K+jE4BL+BoOH7jn8zrsnXmo9mF9TPHvWRFex46DnoP4PD+Cj7xxcNmVBGa5YkBDfUlIF8yQ4fwg4
qxmThDFdW4fQqydzkP7Zdz+4XFxe29paW46vvPgAfuD64zOrcRW1OaT/Kuivob3N3r8c7BL3ogrx
IlqDr5xtO7LkrNx2MR3Lp20OThUPohLxKXzl/OrTP3nn+C7MMXSYORJjaTNy6MxDH3/44MOrlpfX
lTYvqCpI3IXyN+vfOAGznL8zf2kFnroofOo+8fpCL57Pe/GU/hzwl3P1x6tXf8RXxJ8Q112A/MQf
oG0+dCC+Kyu1zb9GPCZ4ruj5J+qB53qww7I2ccPvgTz306lpHRmemPiXJxRpV60a50xFz4sFnROK
JBtExv5z39gmlxo5WN6cc/X7L8R/o4CvLhYBArdQmPiuuAwpyp/y9qmivjbtA3S6iuC++9vzvTDZ
GPhdS38HVwgmwzpYY86b5869+fJvFE8CyO+RAeZ0UPwW+YtLZZjveunvQoQEyJjzFIp66bz4PrTf
h5ZD+06R2DlYAzbodrYf54pdH36M8j8UM481zT82V//Or/Cv3iOHaPAvy5aQg8xje+n8zT48loDM
Rh8uS9x2/OHtDfWusVnuGfjK5na8ZstrqCEtHielMBSfb1g74OPP2H08UQkl3hrtJA6Yjz2x4Jcm
z151miKXUyyuj7bPaZytnV9eNneeeUKOF81ltdmFuqrF0yKjcfnSJYDsUir7BN+rgK+BeiK9Umx1
CANwLjk6KWf/uT/vxVWdaR6PcwO+Ujq2GR/N/ud776GFiWAa4ulaqcEeLgR7GNNrhWhUkcwOZG2r
pChQ5Y1NC1vXVqQWgmqLObTu8RVzGhvto9KKN286ql2xsToVW8L9DeFpJel4bsfMnROCA3FQmH94
w0zctpaMByuGOwB/nmAPomJ2GL96B89/BwecP9/9rcQ/7p5/4JeprqKamLCxRWZnDt119Pz1CWsm
XL+gO3UK7RTvnlRSXIx2ieseOk37cj0/479LPoASEd5DyC7e+vjkyffFW0r8sjgBPQ8uHWIMPT8r
ysBHBh61sqQdfFiHBv349Ztrt5/bvvb1rx/du4d0WIAOi63ovu5cdEhcJOEHsoLflmXGxLqsHhdr
cgi85rsvPl3XcfOL7z7dth01odrr18Xz4tF336X+rAh9gI+Jr2kzIpfVBDyOVOIP/7X/wMfiD4hD
T/cwPeJk8d/UV2bwIVkW3JIjQzzm2eIFPFs8jWbvRbsf2iuufIjgkt+zHh2T6Gk1Emq6zPmo7uLF
TWzOxu5XNtKx/wq+dLbkSysJQc6IE46i573ONALbtx5tl2G46aoYky5eRHWbNuKxG3+5StvEo7+h
3+HnCV1NHhewGx+/v3P/1tJS9Le33pozR5pjTwOu63mP+uyANMb1p1asgL61uAQtYxXkuQlE4ZtD
l1pwSeeYy4Sfg4D/4nC05AdZezWqO10251aLGRDiBMLYkmBb3qqYv7yxKGvhxFJh/so9+ZlXsiPi
021TkqO1YAOm1JrVtRHb4vPHtIuvjy5YnRYbrI+OwKFRMJYLxtqKb4LshFNuJ9Qyel0Gwdfls6D7
G8d3dU2Y3bRn98mUvLyU5Lw8bVk+vin+XH10Pe584OSEDOyeMMGN3YUST4QDzxJXyzqcXbByaPRd
Dz60/oHSjXFjk7LHpo5O3VCtO7sCrzx7V8OYQidAGl2/jsp4JOC5jOIZ5guN6ES311WWQ2x90+5d
TY0FgGp1fV5eckqelqJXxvR0xxRXnyx0y1hSuATHXBwH1jTEBy44ObxNxtCVjAAwyu188OjqrXuQ
eL91Vt7o1hpRvKJ0CtFpumMdeM2ZRzpDdNM9NYtRcZLbTeZugcMe/JmkQUmsmO4h+JoByXCIgx3G
qbm5ySmzJjkdozLW3YW23qedlZxi2KZx6Q6Kd9P5zoL5xgEP+GqhPl+YMCUYMtZHu1tQ9v13ZdfP
2Vc4p3nnzjmNxV2FpYdTc3IacnMezFnv2mqu3LUML9tdmifOO1hYiprGJuGkLHoAfF00lrvJBEj2
i9IATJTkwBldXeNnT2vsinOMSoT1/nHagnrxBIpOSE1NEP8kxTTQn/kR+vf50sRm37jahcv27Ol+
Eod3f07a9XzRM1NuZ5Tb2QV3r2XmXDeuB2WojOGhXXNoRwO/HoXbUXf3z3NrKU8RPBugv2ybPS6e
qBmzq+vQh1defntRGqC376mPxSvPjtlA25Nczb/oeFL7LnyzO0aCwx4D+kbS52ZC0QFz9p38rMXJ
k1tqGrti7Y4EcojH4ZOm1da2zBKPo5iElJQE8ab33EvLOJmW5kG0LJjlpWV4aW0/Ukr82A59df28
qaGksajz/GMb4bvBmZufBl/dQyvxyofp4TSIjrOYHujagA7aCjCpjFtljKjbCPJu6gfVJcl3U+P4
NlnET+EXiiX5LvsLcvmIOOHRBsqjkky6+zNn/7TXbyY0yFIpPioJ5am/ylDzu8cjl49QUvqB/o6h
njzB1mqmQtOVvtr/ARy+6G7la08/Qtr5gX/3JeiX6BHstK+Z9juwpGhWfWpMWnL2mLC7Gjoax9UV
JsY4Z89Zo61ozwnH+gC9NkjIEnD17Nw1zhCsNxlCJxbjmlk0p/MvtB8/TLxupT0b9WV/AkFLmAH2
03l5XevXp9tjPJrffHJk584jz2QE3BdJeTAFdFcRxJBGqs19bTfori+BF+ILE7u6xmvbZqJG8U+E
FVB09+eTpklz/AU3Q1/Oa5PZv3z0WkvL9Y8UED6/gsZ2fyrpWm3PL2wljhxkuy+dfa6o6nj1xGfO
PVRbR/p8hwLE/0EB3Z+iYPFLqS/YXzwBxhhgu1VP/+bNiorXn3z6jeqpYJi1W7eK/xK/3b1bsvc9
Mylehl7f2iOhp0fv1lVnpTrC/N97deH8azdG1Z1J2RpuwSbxOVTY/V1DhTRmFIxpgf7UnpuI08O6
zFE/fY/+9vPPHUh9uEP892GaP+xpBxv7e6oFkxFEnG7iyrmlaBNuSfgEASboaxKYmknq8MLBVeyY
bH//7DHsqoPhk1PYpUvZlMl7A+qm8plqT8L6BI86k59aF7DEmJKmcmmaIyObNS5VWoqRjNfa08n8
JPkFxLi0HujNrwHOgMtrEi4k70gR8MRIOJEUpIRAFjJLQS/cZvcOH+6D1N5BIy8ZiBwdL475BP0R
HSA855GSanK8CIIGQ2ytN45x2hfpAgM15Mq2RBdo+iR4crFgDibHQKqXvTUAllBaynGYXCZz7o0/
ZDZlSg7mVLRZ7JgKbaN6fsIJ+CrY6wgYUUq15yIXT1PtPMkbG5DDpCfCZP1TdfOJ9dp2Q2XSCktw
sju+vfyAvr0hafTo+vB9dXjVKbawJmL89FDdL7yzul1Rib7nS124yi7lfAGxJm/eUMqk+roGRKps
5sSSkpJda/fNWJXiiU746CMU3R6+eodr3a55G8ekxrl2LD4irUk0xJ5HIM6Io9qSZGZo8grOhGAU
JClFECVkhbNs08+uOhlSWYBQQXXY8RW/qr07bXyp7diTCD15wlGRl7GmXr9xYQuvxwHqluZNy9pz
CuepjNigmjcpf9lqElcC/i8BTS0ko0iwh68kNgR1ml3Ezz777K4/frJly0dv74bLmWuca1D2F1+I
1+BiJlmXeNDzxfh1JpVELwRzWX1J2qs3Y+/VYdYITEIaqrVZ2k5+bkHu4o7YyVOmZMzJKJpgn5Gy
Zon3fmLteLi1ueYVhbnmFesSHYuyInBwoNZiT4nEk22jcnHhDO9D/4isOPIsBxfWowwHDg0KoAfK
Q5ngqz7nte0ge2YbfJH5rNh5FpfcA//gFzfEn2oafwaT2oNvBKrsZ2E8w3iC2C2+8857KPkd8b4d
l5/dDt+9NcvbpzdnVUanCC6XkCJMydO/fx++70Ny+HXXNrztCj1sWlaNq1aU5yVlxuOEMcmZ02hu
Jw7pUTV+GbAhFRvGNJQXHQ5qnCNeueRJy9jsTxydmxEbOXZUsnl03uToqBbbcZRw0hpuMZlDAtHe
1ASclKpRpBknWaMj885HxWyYPPnlUItOFeiPDUZKrwgmAk9HP4HO1jFMtOAmVQaldEJvX7y4Y9Mm
cd6pUzs3bYr4WvX1+MfOF3yQ+gGcoK+iHx3jRqakYHT1i3TdcrpqMCWtv6lJsJXX312GkwozsyYM
ScZ9aGOCzYOn2ratXPlaEk4m+QdcgZ7Gr9AYBaiUg9bgCgheJL2CGtCD8BvNN8jVMMmp8M3OZty7
cNHBRTeLU9MK01BDSzEubmuDgzbNgR1OJxyoDPuDDJfDnKP75dqplvcmMb0lBTn/n315xV3lMxJc
SycWzU2NLZqwJn3zrBX7Wu++V79udXlMOM4+mI1D7aVLs8e3VeJlafHtuGGtpC82Ay8fk+MuWJDN
LZcO4ZLLYzqlnMUj7FzAw0hjoYE5C/Mo30xKQ12GU0pXNP26+//SbEptre5tOVFxcP5v/X7sS6lI
8QDYOxofg86QAGeBVa0ybz1zYvufPlm3DLev7y6gOCYwHzLfo6NSXYjUfz4kBSDELOqpQoVgcUnM
KnhcSHG4vuNC3jrK7zbg93nA7zrAPsKH3ym9CI/3i5GuTqifWQjf91HU+Ywoe2iIDe2enofH1dFD
x+TJH4wKw2FCNBwG8zNJ3ZiV0gldBm7ecUosA27e+euIPmYu+FpF+cTS8y9sovYnxOvvx8h2xcpT
UyKJ/8s31izZNX+m5q4QdfXE2FFFk+a1Uuv0+fIGPL3BkueTpKbzpfle9iGa79X3y/iyAtHwvllf
NwmuvZlf5E+j7NvAANboD2MyYZQ+GJRj+mDspzCMA2DQlEB/ML/vPNq5trraB9LZs9nZvXCOUDgR
A+Yz2PT3B7pqhn+m07aYOAK9V30jqPtcAjNDdYw01lp53gH9RjPJ6r3/COFU1/chTZW+z/zXAZQo
xkEg+daaJaD9lBZLUvL2yPIMd3kkslP4V0IFITRMENzHy/Cv7QnYVVLiwgn27sqODvycEIpDBCEE
hwpi3asQP/4ME0A01wdekQP1ZbBBqgB/o0OJluN7xDMoU7yBGrs/+8u4e+7VyiltgjxSM3Jevorm
5UOpLEm+zqDMPMejjsNlqw8PyM03P3ohry3ixU390/P79N5c5CrgKQ3xjH0z7AjY0ifLLl4jTCnh
hb8hLDlSX2BH377bCDN6+xJW9PbdD30DBvalbOjb3SIzoRcCZUG5HrIK+EIjUbcfFJktfMGIlCm8
QChL4J4PSS4e5sBK2UyXkYhj/rUH6Gy7C6SpAr4kZ7+0XzuYY/61J+jMSDtJJ/d8AO2WwbxYORo0
yvPJvya+vVGeBmkuz6Hnc2jfBHMgcOUcASvjnn+t8Ky44WGpvcTBmMT/LNmfQONtmqkZoqZCfLol
FRVSZaVsal1zc93U1atR4BFkoOWVcw3T8NQ5LUfkdXgX5FhNbEhf1t40hBB7M/kmIrT2xVpZfOmV
b3Yf3+onwayU66d8YiVYD5ftJ3nFgRn/5bAOQ2X90Z/outw5bFitgbAXw9oNDZuupRf2Pgo7YnjY
suIcCD5E4tohR/hYWv7eMY7QMRJGos3g9Rg4YNYQanXI0d/rtz4KGYe1Mg0jR8BC5syBI79FJGto
Ukp8yzIRMEYU6C8zUFKgfhPv8EYNEInIfpJJVmdWOqjAWtCJRdOFQ031H59eUiMcmjvjY/Ha30Yl
lc97umJe0Lcxenfi0vm7YVR34rJ55Iw0yGBaWo4zdpNDgvi9icgMrUWwJxl/JnCIagQR+L6KxNvA
cIOqEvgfsg2+LSxgsz5YXwKDDQFLtsVeWPsBlnWoKonEVn3gxKMSRw0G+b8yO9G4hsBcS/ELGgpD
bzjUC3Y9WbwhYHptJpbqHuyDjIpka3orH3SuvdWPJ2GuPhUQ/JXso3prczoyR5Idcw1Vnbva1q86
19TZju/a2IoUafE4MUXKo/Z04wb8Od2B4pY2Cwhur6Gm2UqvEZeTZ66MrOz0KULEqMQX9m1avqMl
q+IRdgcbPwo74pTz4vKxLdaVLIajT1fvXV2Hl7hN1ePxnDaJhrSewXK0nhF3pxUNor2GrWqogKtG
rGygv8j67P9rbLIUw44dBitzm7FlfSfVcb6jYyfe+diUTYcd/lcS046MwZ979aGEw48UhzF3jMMQ
2nFYhMYNYb5Gxu7jAfpSwvETeY2S7phDZNEbFrMKIom3WSpJKmUc2DKKQxqTfac4BAwT+Q6LU1tb
RUVbxenRgjBaGBm1W6UuyRV2GXqdYK88/YPdh+MoVw2zpv1rWGS/jkmqYymdnhjB6+R+VrO8D8u1
2QXzNu3G4v1BM0l969DmytY/XFG6hOg08dsMj0Fhi41LFrQ1Fb0oZ497dIMuhFS9KitQUZLb/XOi
w0aQD4n01v+qaP0vZFgfm7rYow5X1rT1LwKWbLyQtzjs4Mx+hcDFWpg7rdeBPJN6XcSIFTsSnw5b
tQslZmlw5e6/e2PDOx8nF4HeHm4cDTFZQ4zTGz9K9cdv6Ti2EccRZPs13FCrZWs2eLTPqDZQyGPd
lOdkH5l6Xrs23HDLqJkbPNjnfXbuDVJ7o7kWn1jA03XfvU+2kHpgb73bQ/aa9msH+tfT9TiJBWg7
ORb4HfHtQZ8OjAU8XeL7ckhDm3tjARKL1Mh5ywGxgKdrPI1eaHtvLBAF9GnGnwF1Yn1rzALZLuyy
kvSdZAsHFOLGrT+zeUFeYkX7uJV5vzPPzWvOy0h4sDMtMzs1LStHd/9SPGdj6ILE6bG1EdHTHXVl
ywvximMnsxJw/NjMBJwwtrd+iktATweQ6sIQVcOhVLJPJVHo76vSqsDA6iIuGBBH0Fojy9HYJ3Lk
aiN16gZVHIkQDVl1RJclQfrPxiAO0MAxgokADTOGJETyGCBDZAz77caQhGjgMMdl4Rl6pKf6/EFp
rB/pWCm3o9ngJRs0cPEQQcYwWFzsn8hRyLjclGnrGBkbr7UchEEJFeShh3xGFmaW0cNYm8DmjBhv
CJ7+8QZvQUVTCsO2VhU8trGqIJycvztmCnEX3O0u8HvArIuJqJ/cAkPGRNZPboXzlxfUJW4c3EoO
oU+QsqRUOwXdYCQ7KQZXTwlf9lVQM4hbOLCKimskXrw9LOC/PliNxM0bDEviORkW6CIjiQqGgkX5
rA/cB7LbNhhiH29JMG9S/IKHgupdwz6wAdTFGQxUXjcs1WlhzjSjM7BSS2Y8sFo7DuY9oGKLv5Vy
TNI+gpu9+wiM/9E+Anatd6PQgI0EdO5SPfkmxdM6GFPvzAdim0rmPwhdOnvv3o9wn70fZBcKInoI
r6cxFONy824PaFuPmTfbzAtKS1++dAlN+ZflggWF/Dn9ifQt56E9rDC6y7vnpLe9sW3KlBemTEGq
oPNBKPbvQY8FidckXQ4aXOEP8I0kg2KTZbIvlxYNaymbjkskoYSn9aYrj+Xn17S0vnQUH3uFptUe
RW0N1bhqTq/uYT8EGSRazlf3jOTt+W4Pylv76GPr1pZNXLEZ3LzD1pnjRrfW7t9UVv6EZNHF953Z
eY3ZeXQD1sOVlb3eXSU17O/5bCrB0h5JiLWlt7PuZJckS2yoix9ps+SnRETWdN5uzyT+N4jMWYnW
0h6Q76QI6052gXjRGH4zyGUZi5H3hIDgSkiwcjy/lsbz/r4RvVfl9kb1hYRdfcP63jwk3d8I9FQT
CH07HJGErc9GR3GThJ53wyP+RsYDy3sqvvPC8O6qkGHImytEeXreTRbgLkn9ERPc8wMOwDeIfFjl
XVm5ZKeLh5bSydY1zkCq87weLYlPDDNFRfDW7Gk6/7aGvORRkY5oTrl8T5ixyc9vFxc+asv+cbXV
uj3qcHvE/uNzq+ieSlyCXgX8+vZLJslum+yyDWgj4X1BwtcHTzeeiF6k8ySVR8FlcXpcHCp7pI1f
ErglcAmPJ9aWZ2aW07ZnAV65tP+L6JCz54m7B7RaicvRBoj3Rq5fpvhEa7h86IAMMSd66lEH+KTg
lSo5sifExZkDrahjwQrTWmXNQ5oxY+32AP8xiLQVcAF6E/wHE5nfYP9g01ClnP5+G2IicCn6DHS6
itYwQYc7PHzE3GMRD99zd9YaXPpsRsaYDQsXSvJhAQaNovsQEwhnDrUTcein6Ku8vOTk2fIGxe5f
99+ueNDgs11x4O7FgXXsaPIW0sh1bG8Oy+2t/Q4uYnNnJ9XUT3Snhdmy04asYO9CG4vz8LjixVdD
rNhJ9wx/if6KdvW9X/fSl2fOSM/ZOp/nrFN+jmqQkr4rBrwibS2yusyxrU3+LheQvOZk2yx2Ipca
e43s2UZTmH+CjveT1lF+JUjwd6bj0uutaMpEZVqs9z2/wJ7p9H2+od4HPNf7PiAm42MtjK8muVBE
MeCsRIX04oLSWhv957GTxPSWuQZnGp4ESLU0sBQGOXMpcbINAvzQz973RFDvqMreK5QGgEqutYj3
EoDXWgBlTdW1k62zWfkswQHc0f8C7n7EZ1L2zdTnEiVRVADUIfniHEWEwpIvGOl9x0/RcqkG7jHx
bvoCplkwPeDXsc6w1LCuw+9TpNe16DZuhIP4dymH4ITDOuhD9tF6SB9Pb0crPZw0rFuv062nEKQL
0v2ee7yApCsKq5J5Bp3BajL+KB+JR3l75s7dM/eZxkJc2EgOxNaCtLDhzEve2NEmq3KarZ9xVYwh
n5foP4InT94RVvxPv3eEC2C827wnfIcvDStGeIOYvUe+1fd/k5jdJL1JLN5/2zeKF9/m3eKkvreM
EdkLgIroXgDGI21p6ZK2svTuYRnQhm4TOEe2B5yStwfQffHP9JzAAv7B+y7rRPTOCTGlka395RGJ
7/zRDnw/fV+GyIKRWAJQU7xDIIVe8oqEGZXNmDipbmoZWyb+rh7p69EOlL56tfjGb9eu/e1XJSVf
ST4T6D9FuKz/Uv4zDWgjGYYRtCCe3DWyIqRbjUEXEhxsgAMLujCF7m4lTsF/iAk740b3ayMiI+20
vg1K0j7sAmZez2G2CWJmFvg1BHwnNzOOKWYqmBnMcmYds5nZw9zLnGaeYJ5nXgTp/xSpUQosUy5a
hB5Ar6JvsB9Oxem4AE/HbeBLb8L78GP4D/hvrJYNYcew2WwN28GeYV9kr7P/peAVWoVRYVEEKyIV
0YpEhUuRqShQTFJUKmYomhVtiuWKNQwTh4w2FlwC8vFQwx9IXzEE4TCQfe+gBCVfjuy4FXizw02S
SbzD7TATNeRykw5wmQEQyP884CJncm8O9PZ39QGguw77RpC7GpAMFu7gCv4oOuQJYDT8jSLQnh4F
Xwh5OQiMXTBSOIwJSKXSl3udlkjEuzm4crkd4ShV2nqW4cpGDjO94Xhoa8+GxYZeAu2UAU15a0YW
AlDg0QOw9CxkDkxA9pgUxFtdShACZd8LlxlCupBB8r9kdnRnqssJIUEMnSwEBzB/lxXayS2i/7PW
XAqKAVQEhzUjEjmEvmsLGG2rS4DfoT29tgm9jc2uGEA/krg2KchhJXdSoz54AJ5sAyIdgedlEJ50
IRnTiQEGzghktUvr5063S3N1wYHO301oTDddkvU0C+SeF1zkZJWfgr2gWzTt3r25dGFdfT3JvXkg
NaPh0kp4xZpO8v7yLAVKKKvyDqZI7gh9HHapqVu6dTnJrYu3ewHwQEyXB4jpjMQeeSAHhe+h1LG4
hJGJJdEBGAZYmidMDmczsJTLYwauujNeEigbGpCQS/CE6QBWFEwkcllAyZMIIAsROknN6I/QDFhG
4lsPT5bGKZDrdPiRYArCRNAkWDgIfoT3zYAAmboMnDQhIpILGJqp/6dM581OAQ4WciC5Vw+FHE2P
iLAB0J8j/On0nnqlWOmww7x4uVHfYzpRN/xksVqcBgoE2N1KuNzJNnUj3KPmWD/sx3Ic0ulQipH3
C+DVqYjlAzR6BWY5rU7h1HF6TqMWOH8OPolGzjqKU+hZzoBDeJWSs/I2DlqrOA4reK0OK9SGRAlM
CmkqdbZrOW2IFmn8kJbj/ZAf7xz2BntUYq0KhSIcwSKs4FgEGhRxSoTcHBegQEZ6DwclXKWQq3AM
iCoUCiXCmJxZaItxBNrSXYXjrXqVwWJQGRbolWadUsHyfthfxSm5IAAOCKv9g8Wbw/6EdSrMIwXG
KAzxmIUfyHU48j4lV71PxRd6nycpkB7QYRUKDiFWySK1Qmok/svbJDTQpMY8i5FJi1kZwnWdAqv1
SpVS4adQ8iotq8R+fkr4KFQK9BjM5sKhURp9pV5zT6XGYPDL0UbrKw3RF/X6BnNIiDnCMEuv3xtn
CwqyxeEL0HqSd+7d/+A1BsTrtazKHxDGLJkOq1Qrebz49jhfoNNUKv31nII8CEJqrFBag5RKuGvg
WOgO09CHK2lrMxBKxUZwiCU3i2AcFatBEcEWXelIU8cqQDiW4/wI8Q0cGzzy2joNGCG1UsGFAMIs
r8IKIJ0OIZUaaRH0a4bfMXCk0qBkVUqjUpUaG5utVAbo1LxKw7MwjxhgJg5jIIdeyfrpeCOMq4LB
AG6WRlOp0WzWaM4rlT9YLOIR+P5bafBHaCerUijFT8gRndCo/eEjfqLR6TRL6c/PyI9eUCg1BqAW
fshP+Tqr4hXjgoLwt7+cDzSDfQkJMQb48QF+/hxrVPkBobW6cJNeb0IGvc1gsAEwrZ+NHaVS2e0a
jY3V8ayfAhoqlAqdFvNKRDtj0oaVuynDwpR2q9WOrFarZfBFiAr+sQZgIaRVs1YlBnpjK/AWDsKI
MythxvBAraaURdisgBNhOtoOfvZDKtZPqeM0pAvSJHJcmcGq0fhbNCqtEtSAhiMcpdTCOoL0KDR6
NYuQn5/ONOKvCqR2wHICmxkM0lm+9ffvuzXqOH/QQlaNse+ZQYdJCytLumEVwsFm4GWtv5XTEU5S
8gqVjk/guDk5OWHjbLZxYWF2Qgp7sslmC0xqtI2zW40BFrgZZ88JCwwyh2VHc1y5PKNROqtVizgb
rJkCa4wAKXEoVDIAGT+wUCYlQcvPFBpkUSpcflEKJRsfoVAgllUnocQIpZIFKJFqxFoMgUOhD7Ss
xEgRyOGQAEy0DoK1DCQLMCTpHeSxyU8FfMspdQFK2iEUIX//UJaIG2LVarp6WhWVF5XWLyDAhLAy
EG5BWmBNtQraAsEjaKcGUSV3rFqnpP1VWA2QNqqQDmQKCAEXrFYLnEf/8A6DWknMAsgsa9JZDfqg
hy1vwbMoeh3IB2qNiNul5lScws9o9O+NQ/BeOQYIlyIA5SA/H/7cZMMgehV8/T7f/oVc9BT17tO1
/T377i+871VS+DtpnBM83BunJAfe763Ty11DBCz/D+9K5uQAAAB42o2Qy0rDQBSG/7EXEaQbF3Y5
4NJ2mPTeLlvoZeFGsnMV0qQB206ILSUP4QuI+ABduPA5fBTfQf+kI7QLwRyYfP85/zlzAVDBOwQO
3x3eLAtcirLlM5yLG8sFXIsHy0V6ni2X6NlbLjP/SacoXlC95l0ZC1TxZfkMFXFluQAlbi0XURVP
lkv0vFguM/+BKVyMITGBwQYRPKy+99Qj6hgJFLkBzWiSXDoC/qesBgix5Jrk+ZTurDJmZYs15syn
qDEzo/LzORmFrA/IuzwU98w6DRb0e6SIWtFvsAKm7lhOzCbyVnJk4kTJhtZN6UaBnJogXAaJdNM4
kGOzXc+TtCZna19xCc1A7nY7tUljs0i8OEqVbzju6I48wZCn97jTIwuHPYZLz6e650UWvERWTiiD
xXbpJaft9aP2ARxGh8/URh9dRgu936H1fOjAcTqNdr/bbfX+nnPSgfzNHb6FzgNaO0pr/d/2HwaU
bw0AeNpt0OVzDgAAgPHf+76Y7u7u7h6mzeR0bTNtxvQw3Rznjg9OHw6n6053d3fHyX+B93z23D0f
ny+PoH/8SZXX//gYNiAoJJ30MoiQUSaZZZFVNtnlkFMuueUJ9/nkV0BBhRRWRFHFFFdCSaWUVkZZ
5ZRXQUWVVFZFVdVUV0NNtdRWR1311NdAQ4001kRTzTQXqYWWWonSWhtttdNeBx11Eq2zGF101U13
PfQUq5fe+uirn/4GGGiQwYaICwRtM98Cp6210ErLbLDLUi/Ms8YK6yx20Rsb7bbVXtddtU+8BKsM
dVOia26465bb7vhmmIfuuW+/4VZ74pHHRvjhlyVGGWm0scZIstk44yWbIMUkE002xXdTTTdNqplm
2CLNLLPN8dNvJzz1Ifz8gIM++eykL77a4Zn3XnrltXeee2uT9Q457JjjLjniqMvmumCRPa4446xT
lttupwfOOR8IRSTFpyTHJSSGYmKj/wKYamxnAAAAAAAB//8AAnjaY2BkYGDgA2IJBhBgYmBkYGZ4
BCRZwDwGAA4aARcAAAEAAAAKABwAHgABbGF0bgAIAAQAAAAA//8AAAAAAAB42p2YW2hcxxnHR9Za
stdypJVWV19oFZEGExNwTXyTsaFGlt04sWVXtiw7uA+BkorWmIBMMdZbyUPyooeqFCESCHpJMSKt
i1jjqi0irYyyjrRgHdleIR+qLIil4oA4sD0m2998M3vRSm5CWL6dc+bM5ft/9xlVppQKq93qNVXW
9/P3f6W2qBA9KptV+kvZL9+9ofuUeePbJmm3qLLmLhn5jvpCTavlsoNlN8qeb+rYNF3+u/Lx8r+W
T5d/Xf481BI6Hvpt6PehL0JPQ//Z/MfNjyqOV4xUfFXZUXmzcnDL/i2zW1/d+vnW6XBL+Oa27m23
qt7bfumlhupQ9W+qv6rZU9NZ84ea1ci+yMeR0cjfoNHa3TWdkY9rb9Y+qmuKfFx3um46+lb0z/Vv
1F+r/0v9v+oX6v9dv9zwWsPhhg8bvm7sbHyv8Rb/txr/EtlX9rzseeNkU0VTO//tTZ8z7sPmNpC0
ZH1VqQ5kp9Sh7D/V4eyMas9OqJ5sWl3myxXaOvVK1lV7oL1ZT+2j3Q91QCehTug0o84gwy6eL0Dd
jOvJZlghwwrfqBv0xaB70EuqLTvMSmPqBOt3MPMkoztpT9N20V6g7ebbRfQywNgRnu/R36rq+I/C
ZQvtK9AeaB+0HzqQjauD7HcoOwmKuKDoYObJbMDqvjrFt9M8nwFtF+8XeL6YXYXPR/CZhM9l+EzD
Z5rdfPWA8Q95noWSPC9Ai9AzqBYuXNXAqJasAx4HPD4c3GF3h92T6ohwMKaOMq4HPFqWvTxf4fkq
z9ehAcb+sASTkXNOxgdAf5AZh7IfsOowK94uweSByS/Ck2K3z9htkp3i4HHA44j0HjD2Ic+zUJLn
BWgReqZ1qmqz1+DkiYoi83pGa2yN2U9UE8/N9Gsr2cHInby3wc0rrLJHcN+GWwduHfUGHB/l+4ns
fbgcg8sYXI7BZQouY+osHJ2Duug7T3uBvp/RdsPxReZd4rkHugz1QhrBVZBoWWkkA+w7glYNojEQ
pUCSAkkKJCmQpPDLalaKQLVoIQrH9cxu4L2Fr9ehMvVEHVDloPPoC3hrVxWMBq/aDN5ANLFTvuym
p1b0o+e79PrSW0nvil05sF8CVtdzomqrrBaVrz7S0yO05FbUr2mvyxrNKgKnw6qGuRHa2uz7xhJU
Net6wnEjcmmC42aedzBrp8z21DRzvoSeZAeJQC3yJbf7q2ob6/qs6bNmCi4Cy+eKxebZ0WlGV4Iv
ij0foOcQPYcZ1Y50Q+t6XlfbhVtHtaKRNrHVBBaQQPsJtJ9A+9oDRrHXJWYOM3MUL0gze1AdQ3Md
+NdJOOqkPSXensISlrGCFNp30L72xXG0P4X2ddyYVn2Mu8HaA+KXCbSeQutpJOAgAUfFsaCHWMIM
7SztPN+esneSdgFahJ5BYXRSDecBHPoWl2e50/7p21iHP4PRB99/18WXQ/Qfho5A7bwbP/StHwZF
fujb6JkGh4mgxXFlGvpSrK2KvatF/y660pLVvhXHpxwrzSS7JtjVYdcpiWhH6TvG+3Hxs0CirNkl
o67RN8D8Odargv8A/gP4D+A/gN/A8hvAZ7AGteZrl9qKTKrZIwLVItFW5NaGVPeiwaOMOIFmOxhj
VslFHk8QdwvqVRvnAlZdwXc91Q8NsMYImrunIxAWPgvNscdj3qtA7VutpECatvJ1QempE3Bg+PxG
+BzhvQIePXj04C0FbxpzivU8bL8G9MY2p8A+BfYpsE9ZafrY5jL7uOzjyh4mAyVBtASiZJFdJkG1
hF262GUaHiZtVAokKhm7nBK71NkpxrPObcY24+g3LrZYaoc/wovG4DIlXpSLobn4aaK9trSP8tHe
eE5xxE9LFlsb8SeEuyusWYj4vuUmBTcpPMWR6D9jM8BTvLOUu/oXWGQCKbvIUHuPW2SR09YiF9dY
ZG/eEhNiia2sOMqKo6w4wWoxVhu23hSwCvEXWzmqtQ11CM5AncJftZVepL1ElOpB85ehXp6v0PZJ
bRCztUGgHjCuYFujap7vSfoWoEXoGVQBPl8wFePQGOrgaxW+gnxsaEdma+TOemvkzrvIWPYJs0+Y
fcLsE8azWyWGeNbu0tbmUqBNid1pbzpGv65JLubjxSqy8yReXGWHAZ4f0CahBWgReqZ1gJ/Gbe64
Y3PHJ2oXX3ZDbWAvVGuD+UriDVYzPhwD16fgGgPXp9ae/qTe1JUR9DaedhbrPwd18f28eMIYeTqJ
j8eE20t4Rg/vl1m3Fwle4fkq0uxjb13p9TNugOeR7JCt+oZA4mKLd7DFO+hnGO8Yxf9joHNB54LO
BZ2r47T17lrx8CXx8CM2quQ8/QgymGHkB5KRIrS10C5G7haLHc5np730FzJUqiiKpyWKG5ncRSZ3
bb1yF5ksS73yJt/OQG+z81mqxHNQF9/P05ra5REy+YetXR4VySSBTJ4gkylkMikZrF/qF13Lxmwm
i0n9kstkc/A5z9jHUp2trWk0WsdqPGk1PgzaFdCuWI3nqrGhomqsOGd5RWi1BdwH7SRo79vqbBK0
GdBmLFoHtA5o74PWAe0kaB3QTlq0Dmhdi1bXzoug1XHR1Jz99BkLiNloNGEtIAnapLWAOGiT6yzg
ddD6EslbxQJ0NJ8G3bTU2Pto90O61jxYlMsL0TwBMgdkCWvbTpFta/9NgMYBxZKN7LredGxkdyyC
OAjSRdE9DoJESXTX3K+P8FpXE+jqNgjG0NVtdPURunLQlT4pDIJmAjQToLkFmgnQTIAmaZFoW3eL
dDUMokEQDYFoEEQOiIZKLHMcXY2DbBBdjYNuCF2No6thm7/Gbf7SddWEZImrWHEf32/w3I9HDjB3
hPcY7/d4fsA+0/D/JTQHhnm+PWZckv4FaBF6Bu2S+rX01KKj3tGSs52pkArnO3MmWoWbVZtNk+ye
tBWen69xTRb12dVnV59dffJUrjYzFmHqs8JpMi07mvOo3i1tz6PFNZkvNZnRblrORw0b5ONPSk5f
H4HDl5UvSt0YsyetQt7VvJfyW0nW97BmXbndZaauvZaElyu6Qpesu11qrwCLCbCYgNFPGB2TrGpm
pCz3rszStdU1qa8CcntAXg/QVICWApBUyX6e5OUXVWymrgry8uiD+iWreSpO+5CMOUM7SzvPt8c8
V1te0yW8Ouw0JrwaPlMlfPrC2w6qvd1qO1SNN0WgWqhVvayO0XccSZgKoFBXF9fU+tR8jXF9jBmB
dPaN8/6Q+TO0s7RzrDfPt6fUgmXwFCfnG9m7IntjA56cwhux3bRIyFiOa6tAfZvh2puMJSwnsDmv
UNXr2lbbbL+uSKX+0HE8jb2mxV4f6/NWkaRypzEtqXheUtojusm2RruulZqOpS5Y01a7YIRmRIK+
rNyIBKNFdfokK+rYl/q/kutjl1wNHme+kVrUSm0CvgOkFlY18J3O2+rx3E2MoF8W2fWyiqlRfNFs
XxGP2k6qiqzOs1bnWavzZLQ5B2jLCsuMH0jEryL3VHPirZH8/xnIxqWO0lo0taW+c1q0Wlpk1SVW
XbRaStuI4ll7XpEayvDnyinEoNc5yENTHqg/Y3dXTiGag4zlYFJOgBFaLdu1HGgZp2yEScmtVxdt
IcLk7nl8e8+T4yBnK2lrK+YEOMf6OXtplkhqfFbv5ltfSNo7tqS1yqS9X9NRIbPmDGd2Slis2j+S
RVE0kce5kaRjG0jatad1156IXDmpFyS9Ec5vl3SYXRLfah3zL4zya2fqWPxyfnZ3Pqr5+ah21UZ6
E+U9FVJ1oI9yimgk8+i7mc30+PRE8dmwaoKaeS/je1puRz184gASKtzs6crxzprTQfHJoCAdE2d0
nCqXu6UWe6cUtecsXbk63+GcpW8SJ9ec/HtF4rkzlgPnuk7K3cDkbkDNzGE5W52yZ3Tjya7NJQkb
bVal1tkodzVtcM86abNibhd9Xo/JWf2U7KA9IWHvVJMmz/It9oIdtqyJW11FOszdTITW5aqX1kXX
75aDtCaiaKCRL026ypTquXAXnYGPDHzom+IMvGTQaMbkAHKftvObREFT2RpL3c4KQ1J3mxVWrHWu
WLtesZaZkZsZM2uFuun73vSuvb0uvu19tO62t/SWd+f3vjPf+L7cXXdfXnpPvs16WzveHMZKX0Xy
d7GpKD6WUS1oYgfPO6HryHcTb5X8FKfArfjeNn6bkPB2tFbN2JBqU3sYu5czwg61T6qGE6pDvaY6
1U/pe4vfj9VZ9Y7ar95Vv1A/UX38TrL2dUbc4HeKCuemOq0G+L2phvidwTZHmBdT99Tb6u/8znGm
f6C61DT58bxK8OtRc/wuq3m8t/d/SEsi9QAAeNpjYGBgZACCY6nbT4Hog4X2S2A0AE0OBtgAAA==) format('woff'), url('Gotham-Black.ttf')  format('truetype'), url('Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


